# 1) Explain about Variable

Python Variable is containers that store values. A Python variable is a name given to amemory location. A variable is created the moment you first assign a value to it.

# 2) Rules of Variables

1) A python variable name must start with a letter or the underscore charatcer.
   ex: teja = 1, _teja = 2
2) python variable name cannot start with a number.
   ex: 9teja = 3
3) A python variable name can only contain alpha-numeric charatcers and underscores.
   ex: teja_9 = 4 
4) Variable in python names are case-senstive.
   ex: TEJA = 5, teja = 6
5) The keywords in python cannot be used to name the variable in python.
    ex: and = 7

# 3) Types of variable

1) Multi to single variables : You can assign the same value to multiple variables in one line.
   ex: x = y = z = 1
3) Multi to multi variables: Python allows you to assign values to multiple variables in one line
   ex: a, b, c = 2, 3, 4

# 4) 10 Examples of each & Every type and you need to print & Identify the type

In [24]:
#multi to single variable:
x = y = z = "ORANGE"
print(y)
print(type(y))

ORANGE
<class 'str'>

In [26]:
Luffy = Ace = Sabo = "One Piece"
print(Ace)
print(type(Ace))

One Piece
<class 'str'>

In [28]:
_grap = _gold_d_roger = _rocks = 1.9
print(_grap)
print(type(_grap))

1.9
<class 'float'>

In [32]:
kido_1 = big_mon2 = king7_ = 1
print(king7_)
print(type(king7_))

1
<class 'int'>

In [50]:
Kizaru_1 = _FUJITORA5 = RYOKUGYU_ = "Current_Admirals"
print(_FUJITORA5)
print(type(_FUJITORA5))

Current_Admirals
<class 'str'>

In [54]:
luffy_9 = ZORO_ = Sanji9_ = 20.9
print(luffy_9)
print(type(luffy_9))

20.9
<class 'float'>

In [58]:
_NARUTO = _SASUKE = SAKURA8 = "NINJA"
print(_NARUTO)
print(type(_NARUTO))

NINJA
<class 'str'>

In [60]:
ka_kashi9 = obit_o7 = ri_n_ = 2
print(ri_n_)
print(type(ri_n_))

2
<class 'int'>

In [62]:
$pain = madara_ = _tobi9 = "9.8"
print(_tobi9)
print(type(_tobi9))

SyntaxError: invalid syntax (857763667.py, line 1)

In [64]:
8_shoyo_hinata = tobi kageyama = _daichi = 10
print(_daichi)
print(type(_daichi))

SyntaxError: invalid decimal literal (3209664876.py, line 1)

In [78]:
#Multi to Mutli variable
Eren, mikasa, levi = 1, 2, 3
print(Eren, mikasa, levi)
print(type(levi))

1 2 3
<class 'int'>

In [96]:
_tanjiro, nezuko_9, inosuke5_ = 5, "name", 98.977
print(_tanjiro)
print(type(nezuko_9))

5
<class 'str'>

In [98]:
9zenistu, tanjiro9, inosuke_ = "name", 3, 9.5
print(tanjiro9)
print(type(inosuke_))

SyntaxError: invalid decimal literal (2460116625.py, line 1)

In [102]:
NAME, name, NAme = 1.7, "giyu", 6
print(name, NAME, NAme)
print(type(NAME))

giyu 1.7 6
<class 'float'>

In [104]:
n_1, N_AM_E, _9ROCK = "world", 9, 0.9
print(n_1, N_AM_E, _9ROCK)
print(type(n_1), type(N_AM_E), type(_9ROCK))

world 9 0.9
<class 'str'> <class 'int'> <class 'float'>

In [106]:
and, for, char = 1, "Hashira", 8.97
print(for)
print(type(for))

SyntaxError: invalid syntax (945227919.py, line 1)

In [110]:
_mitus_ri6, obanai_8, sanemi_ = 2, 9.3, "hAshira"
print(sanemi_)
print(type(_mitus_ri6))

hAshira
<class 'int'>